body {
  color: #fff;
  background-color: #ccc
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
  background: rosybrown;
}

header {
  background: green;
}

footer {
  background: aqua

}
aside {
  background: orange;
  display: flex;
  flex-wrap: wrap;

}`

section {
  background: purple;
  width: 200px;
  height: 200px;
  margin: 20px;
  
}


